@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  display:flex;
  flex-grow:1;
  color:rgb(23 37 84);
}

html{
  height:100%;
}

nav span {
  display:flex;
  align-items:center;
}

nav span:not(:first-of-type) a {
  margin-left: 10px;
}

nav > span, nav div div a {
  margin: 15px 0px;
  font-size:20px;
}

nav div div a {
  width:50px;
}

h1 {
  font-size:50px;
  font-weight:600;
  background-color:rgb(23 37 84);
  color:white;
  padding:10px 60px;
  border-radius:10px;
  box-shadow: 5px 5px 10px 3px rgba(23, 37, 84, 0.9);
}

#profileText a:hover {
  text-decoration: underline;
}

#profileText p span {
  background-color:white;
  color: rgb(23 37 84);
  padding: 5px 10px;
}

#profileText p {
  margin: 20px 0px;
  text-indent: 40px;
  padding: 5px 10px;
  line-height: 35px;
}

#profileText li {
  display:flex;
  align-items:center;
  justify-content:center;
}

#profileText svg {
  margin-right:10px;
}